<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head1">
</head>
<body>

	<br>
	<br>

	<div class="container">


		<h1 class="text-center" th:text="${titulo}"></h1>
		<h4>
			<a>Usuario: </a>
			
			<a th:text="${nombre}"></a>
		</h4>
		
		<h5>
			<a>Rol: </a>
			
			<a th:text="${rol}"></a>
		</h5>
		
		<br> <a th:if="${rol == 'Instructor'}"
			class="btn btn-primary btn-lg btn-dark" th:href="@{/crear}"
			th:text="'Crear nuevo coche'" title="Crear nuevo coche"></a> <br>
		<br>



		<form th:action="@{/borrar}" th:object="${coche}" method="POST">
			<table class="table table-dark table-striped table-hover text-center">
				<thead>
					<tr>

						<th scope="col">Marca</th>
						<th scope="col">Modelo</th>
						<th scope="col">Precio</th>
						<th scope="col">Puertas</th>
						<th scope="col">CV</th>
						<th scope="col">Kil&oacute;metros</th>
						<th scope="col"></th>
						<th scope="col"><input th:if="${rol == 'Instructor'}"
							class="btn btn-danger btn-sm" type="submit" value="Eliminar"></th>


					</tr>
				</thead>
				<tbody>
					<tr th:each="c: ${coches}">

						<th scope="row" th:text="${c.marca}"></th>
						<td th:text="${c.modelo}"></td>
						<td th:text="${c.precio}"></td>
						<td th:text="${c.numPuertas}"></td>
						<td th:text="${c.cv}"></td>
						<td th:text="${c.km}"></td>
						<td><a th:if="${rol == 'Instructor'}"
							class="btn btn-success btn-sm" th:href="@{/editar/} + ${c.id}"
							th:text="'Editar'" title="Editar coche"></a></td>

						<td><input th:if="${rol == 'Instructor'}" type="checkbox" th:name="id" th:value="${c.id}"></td>



					</tr>


				</tbody>
			</table>

		</form>
	</div>

</body>
</html>