<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head1">
</head>
<body class="bg-danger">
	<header th:replace="plantilla/template :: header1"></header>
	<div   class="container text-center">
		<br>
		
		<h2>Bienvenido/a <span th:text="${nombre}"> </span> </h2>
		<br>
		
		<img  th:src="@{/images/3.jpg}" class="img-thumbnail " alt="...">
		<br>
		<br>
		<h2>a Cacharros <strong>X</strong></h2> <span th:text="${rol}">
	</div>
	<footer th:replace="plantilla/template :: footer1"></footer>
</body>
</html>